{% extends 'base.html' %}

{% block title %}Λεπτομέρειες Ραντεβού - Σύστημα διαχείρισης Ιατρείου{% endblock %}

{% block content %}
  <h2>Λεπτομέρειες Ραντεβού</h2>
  
  <!-- Εμφανίζει το όνομα του γιατρού που έχει το ραντεβού -->
  <p><b>Γιατρός:</b> Dr. {{ appointment.doctor.user.email }}</p>
  
  <!-- Εμφανίζει το όνομα του ασθενούς που έχει το ραντεβού -->
  <p><b>Ασθενής:</b> {{ appointment.patient.user.email }}</p>
  
  <!-- Εμφανίζει την ημερομηνία και ώρα του ραντεβού -->
  <p><b>Ημερομηνία/Ώρα:</b> {{ appointment.date_time }}</p>
  
  <!-- Εμφανίζει την κατάσταση του ραντεβού -->
  <p><b>Κατάσταση:</b> {{ appointment.get_status_display }}</p>

  {########################}
  <!-- Αν υπάρχει επισύναψη στο ραντεβού, εμφανίζεται ο σύνδεσμος για λήψη -->
  {% if appointment.file %}
    <p><b>Επισύναψη:</b> <a href="{% url 'medicalofficesystem:download_appointment' appointment.id %}" download>Λήψη Αρχείου</a></p>
  {% endif %}
  
  <hr>
    <a href="{% url 'medicalofficesystem:profile' %}" class="btn btn-secondary">Επιστροφή στο Προφίλ</a>

{% endblock %}
