{% extends 'base.html' %}

{% block title %}Λίστα Ασθενών{% endblock %}

{% block content %}
    <h2>Λίστα Ασθενών</h2>
    

    <!-- Αναζήτηση Ασθενών με AMKA -->
    <form method="GET" action="{% url 'medicalofficesystem:list_patients' %}">
        <input type="text" name="search_amka" placeholder="Αναζήτηση με AMKA" value="{{ request.GET.search_amka }}">
        <button type="submit">Αναζήτηση</button>
    </form>

    <!-- Αν ο χρήστης είναι γραμματέας, εμφανίζεται το κουμπί για προσθήκη νέου ασθενούς -->
    {% if user.role == 'secretary' %}
        <a href="{% url 'medicalofficesystem:add_patient' %}" class="btn btn-success">Προσθήκη Ασθενούς</a><p></p>
    {% endif %}
    
    <!-- Δημιουργία πίνακα για την εμφάνιση των ασθενών -->
    <table border="1">
        <thead>
            <tr>
                <th>AMKA</th>
                <th>Ημερομηνία Εγγραφής</th>
                <th>Ενέργειες</th>
            </tr>
        </thead>
        <tbody>
            <!-- Εμφανίζονται οι ασθενείς από τη μεταβλητή patients -->
            {% for patient in patients %}
                <tr>
                    <td>{{ patient.amka }}</td>
                    <td>{{ patient.registration_date }}</td>
                    <td>
                        {% if user.role == 'doctor' %}
                            <a href="{% url 'medicalofficesystem:view_medical_history' patient.amka %}">Ιατρικό Ιστορικό</a>
                        {% endif %}
                        <!-- Αν ο χρήστης είναι γραμματέας, εμφανίζεται ο σύνδεσμος για επεξεργασία ασθενούς -->
                        {% if user.role == 'secretary' %}
                            <a href="{% url 'medicalofficesystem:edit_patient' patient.amka %}">Επεξεργασία</a>
                        {% endif %}
                    </td>
                </tr>
            {% empty %}
                <!-- Αν δεν υπάρχουν ασθενείς, εμφανίζεται μήνυμα -->
                <tr><td colspan="3">Δεν υπάρχουν ασθενείς.</td></tr>
            {% endfor %}
        </tbody>
    </table>
    <hr>
    <a href="{% url 'medicalofficesystem:profile' %}" class="btn btn-secondary">Επιστροφή στο Προφίλ</a>
{% endblock %}
