{% extends 'base.html' %}

{% block title %}Λεπτομέρειες Ιατρικού Αρχείου - Σύστημα διαχείρισης Ιατρείου{% endblock %}

{% block content %}
    <h2>Λεπτομέρειες Ιατρικού Αρχείου</h2>
    <p><strong>Ασθενής:</strong> {{ record.patient.user.first_name }} {{record.patient.user.last_name}}</record></p>
    <p><strong>Γιατρός:</strong> Dr. {{ record.doctor.user.first_name }} {{ record.doctor.user.last_name }}</p>
    <p><strong>Ημερομηνία:</strong> {{ record.date }}</p>
    <p><strong>Διάγνωση:</strong> {{ record.diagnosis }}</p>
    <p><strong>Θεραπεία:</strong> {{ record.treatment }}</p>
{% endblock %}
