{% extends 'base.html' %}

{% block title %}{{ medicaloffice.name }} - Λεπτομέρειες{% endblock %}

{% block content %}
  <h1>Ιατρείο: {{ medicaloffice.name }}</h1>
  <p><b>Διεύθυνση:</b> {{ medicaloffice.address }}</p>
  <p><b>Email Επικοινωνίας:</b> {{ medicaloffice.contact_email }}</p>
  <p><b>Τηλέφωνο:</b> {{ medicaloffice.contact_phone }}</p>

  {% if user.is_authenticated %}
    {% if user_is_doctor %}
      <ul>
        <li><a href="{% url 'medicalofficesystem:book_appointment' %}" class="btn btn-primary">Κλείσιμο Ραντεβού</a></li>
        <li><a href="{% url 'medicalofficesystem:view_medicaloffice_appointments' medicaloffice_id=medicaloffice.id %}" class="btn btn-primary">Προβολή Ραντεβού</a></li>
      </ul>
    {% else %}
      <p>Δεν έχετε δικαίωμα πρόσβασης στις λειτουργίες του ιατρείου.</p>
    {% endif %}
  {% endif %}
{% endblock %}
