{% extends 'base.html' %}

{% block title %} {{ user.email }} - Προβολή Ραντεβού {% endblock %}

{% block content %}
  <h1>Τα Ραντεβού μου</h1>
  {% if appointments %}
    <ul>
      {% for appointment in appointments %}
        <li>
          <a href="{% url 'medicalofficesystem:appointment_detail' appointment_id=appointment.id %}">
            {{ appointment.medicaloffice.name }} - Dr. {{ appointment.doctor.user.email }} - {{ appointment.date_time }}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Δεν υπάρχουν προγραμματισμένα ραντεβού.</p>
  {% endif %}
{% endblock %}
